* {
    border: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: auto;
}

.container-child {
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 50%;
    height: 100%;
    gap: 5px;
}

.text-hangman {
    display: flex;
    width: 100%;
    height: 80%;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    width: 100%;
    height: 20%;
}

.hangman {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.keyboard-child {
    box-sizing: border-box;
    font-size: 22px;
    text-align: center;
    width: 40px;
    color: #555;
    cursor: pointer;
    margin: 0 8px;
    height: 40px;
    border-color: #f2f2f2;
    border-style: solid;
    text-shadow: 0 0.5px 1px #777, 0 2px 6px #f2f2f2;
    border-width: 1px;
    border-radius: 10px;
    background: -webkit-linear-gradient(top, #f9f9f9 0%, #D2D2D2 80%, #c0c0c0 100%);
    font-family: sans-serif;
    display: inline-block;
    transition: box-shadow 0.3s ease, transform 0.15s ease;
    box-shadow: 0 0 1px #888,0 1px 0 #fff, 0 6px 0 #C0C0C0, 0 8px 17px rgba(#444, 0.4), 2px 1px 4px rgba(#444, 0.25), -2px 1px 4px rgba(#444, 0.25), 0 9px 16px rgba(#444, 0.1);
    
    &:hover,
    &:focus {
      box-shadow: 0 0 1px #888,0 1px 0 #fff, 0 4px 0 #C0C0C0, 0 2px 35px rgba(#444, 0.3), 2px 2px 4px rgba(#444, 0.25), -2px 2px 4px rgba(#444, 0.25), 0 7px 4px rgba(#444, 0.1);
      transform: translateY(2px);
    }
    
    &:active {
      box-shadow: 0 0 1px #888,0 1px 0 #fff, 0 0 0 #C0C0C0, 0 0px 30px rgba(#444, 0.15), 2px 2px 4px rgba(#444, 0.25), -2px 2px 4px rgba(#444, 0.25), 0 0px 4px rgba(#444, 0.25);
      transform: translateY(4px); 
    }
}

.hangman-child {
    position: relative;
    width: 200px;
    height: 300px;
    background-color: transparent;
}

#ground {
    position: absolute;
    bottom: 0;
    width: 150px;
    height: 10px;
    background-color: white;
    left: 25px;
}

#vertical-beam {
    position: absolute;
    bottom: 10px;
    width: 10px;
    height: 280px;
    background-color: white;
    left: 60px;
}

#horizontal-beam {
    position: absolute;
    top: 0;
    width: 100px;
    height: 10px;
    background-color: white;
    left: 60px;
}

#rope {
    position: absolute;
    top: 10px;
    width: 2px;
    height: 40px;
    background-color: white;
    left: 145px;
}

#head {
    position: absolute;
    top: 50px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    left: 125px;
}

#body {
    position: absolute;
    top: 90px;
    width: 5px;
    height: 60px;
    background-color: white;
    left: 145px;
}

#left-arm {
    position: absolute;
    top: 100px;
    width: 40px;
    height: 5px;
    background-color: white;
    left: 105px;
    transform: rotate(-30deg);
}

#right-arm {
    position: absolute;
    top: 100px;
    width: 40px;
    height: 5px;
    background-color: white;
    left: 145px;
    transform: rotate(30deg);
}

#left-leg {
    position: absolute;
    top: 150px;
    width: 30px;
    height: 5px;
    background-color: white;
    left: 120px;
    transform: rotate(-30deg);
}

#right-leg {
    position: absolute;
    top: 150px;
    width: 30px;
    height: 5px;
    background-color: white;
    left: 145px;
    transform: rotate(30deg);
}

#lost-window {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 60%;
    height: 70%;
    background-color: rgba(48, 48, 48, 0.9);
    position: absolute;
    top: 15%;
    left: 20%;
}

#win-window {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 60%;
    height: 70%;
    background-color: rgba(48, 48, 48, 0.9);
    position: absolute;
    top: 15%;
    left: 20%;
}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 40%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.lost-window-child {
    color: white;
    font-size: 50px;
}

#answer {
    color: white;
    font-size: 20px;
}
@media screen and (max-width: 764px){
    .container {
        align-items: flex-start;
    }

    .container-child {
        width: 90%;
    }

    .text-hangman {
        flex-direction: column;
    }

    .keyboard {
        width: 100%;
    }

    .hangman {
        margin-top: 10px;
        width: 100%;
    }
    
    #win-window {
        width: 83%;
        left: 8%;
    }

    #lost-window {
        width: 83%;
        left: 8%;
    }
}